{% extends 'ded_app/base.html' %}

{% block content %}
    <style>
        img.zoom {
            -moz-user-select: none;
            user-select: none;
            margin: auto;
            padding: 5px;
            border-radius: 20%;
            border-style: ridge;
            border: #ff002f;
        }

        img.zoom:hover {
            display: block;
            position: fixed;
            z-index: 10;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: auto;
            height: auto;
            max-width: 99%;
            max-height: 99%;
            border: solid rgba(210, 210, 210, .4);
            border-width: 100vh 100vw;
            cursor: zoom-out;
        }

        :not(:active) > img.zoom:not(:hover), img.zoom:active {
            pointer-events: none;
        }

        /* не идеально: transition-property не поддерживает свойство position. В результате, если переключить вкладку браузера, то картинка становится вновь маленькой. */
    </style><br>
        {% for i in z %}
        <h1 class="jear_foto"> Вот так мы встречали {{ i.jears }} год:</h1>
        {% endfor %}
    <div class="foto_gallery">
    {% for i in foto %}
        {#        <h1>Вот так мы встречали {{ i.jears }} год:</h1>#}
        {% if i.img %}
            <img class="zoom" width="240"  src="{{ i.img.url }}" alt="СКОРО БУДЕТ ФОТО">
        {% endif %}
    {% endfor %}
    </div>


{% endblock content %}