{% extends 'ded_app/base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <img width="900" src="{% static 'img/130.png' %}" alt="">
        <div class="centered_1">
            <h1 class="register1">Вход</h1>
            <div class="register">
                <form method="post">
                    {% csrf_token %}
                    <table>
                        {{ form.as_table }}
                    </table>
                    <br>
                    <button class="register">Вход</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}