.zagolovok {
    margin: auto;
    font-family: "Monotype Corsiva";
    color: white;
    font-size: 80px;
    display: flex;
    text-shadow: 5px 10px 20px gold;
}
.LOGO {
    height: 120px;
    width: 120px;
    border-radius: 30%;
    margin-left: 20px;
    border-style: ridge;
    border-color: yellow;
}
.header {
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 20%;
    border-style: double;
    border-color: #20d3b2;
}
.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 25px;
    color:black;
}
.social {
    display: flex;
    justify-content: center;
}
.social img {
    height: 80px;
    width: 80px;
    border-radius: 30%;
    margin-right: 20px;
    display: flex;
    float: right;
    border-style: ridge;
    border-color: gold;
}

.mob {
    color: black;
    padding-top: 5px;
    font-weight: bold;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 23px;
    text-shadow: 1px 1px 3px gold;
}
.time {
    display: flex;

    justify-content:space-around;
    align-items: center;
    font-weight: bold;
    font-size: 55px;
    color: #16b621;
    font-family: "Monotype Corsiva"

}
.lenta {

    height: 150px;
    width: 180px;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.info {
    font-family: "Monotype Corsiva";
    color: #e4ee07;
    font-size: 30px;
    font-weight: 700;
}
.b1 {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.but {
    display: flex;
    justify-content: space-around;
}

.logo_lower {
    display: flex;
    justify-content: center;

}

.floating-button {
  text-decoration: none;
  display: inline-block;
  width: 300px;
  height: 100px;
  line-height: 45px;
  border-radius: 55px;
  margin: 10px 20px;
  font-family: "Comic Sans MS";
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 600;
  color: #ffffff;
  background: rgba(15, 222, 227, 0.68);
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.floating-button:hover {
  background: #e0e717;
  box-shadow: 0 15px 20px rgb(213, 6, 35);
  color: rgba(55, 225, 17, 0.93);
  transform: translateY(-7px);
}
.meteo {
    height: 300px;
    width: 300px;
}
.stih {
    display: flex;
    justify-content: space-around;
    font-family: "Monotype Corsiva";
    font-size: 40px;
    font-weight: 800;
    color: blue;
}
.stih1 {
    margin-left: 20px;
    text-shadow: 5px 10px 20px #ff002f;
}
.stih2 {
    padding-left: 30px;
    text-shadow: 5px 10px 20px #2bb026;
}
.stih3 {
    margin-right: 20px;
    text-shadow: 5px 10px 20px gold;
}
.scroll {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    font-size: 50px;
    color: coral;
    text-shadow: 5px 10px 20px gold;
}

.jear_foto {
    display: flex;
    justify-content: center;
    font-family: "Book Antiqua";
    color: #e22b2b;
    font-size: 75px;
}
.foto_gallery {
    display: flex;
    flex-wrap: wrap;
}
.fakt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monotype Corsiva";
    font-size: 75px;
}
.fakt_text {
    font-family: Monospaced;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 60px;
    font-weight: 400;

}
.fakt_detail {
    display: flex;
    justify-content:space-between;
    margin: auto;
    background: rgba(230, 238, 2, 0.27);
}
.fakt_zag {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    color: #3a00cc;
    text-shadow: 5px 10px 20px #2fff00;
}
.fakt_img {
    margin: auto;
}
.register {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family: "Comic Sans MS";
    font-size: 25px;
    color: rgba(58, 0, 204, 0.78);
}
.register1 {
    display: flex;
    justify-content: center;
    font-family: "Comic Sans MS";
    font-weight: 700;
    font-size: 50px;
    color: #1008fc;
}